body {
  font-family: "OpenRunde", Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

@font-face {
  font-family: "OpenRunde";
  src: url("./assets/fonts/OpenRunde-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("./assets/fonts/OpenRunde-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("./assets/fonts/OpenRunde-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("./assets/fonts/OpenRunde-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#app {
  background-color: transparent; 
}

#Island {
  position: relative;
  width: 40vw;
  height: 20vh;
  border-radius: 15px;
  background-color: black;
  transition: .4s;
}

#Island:hover {
  width: 60vw;
}

@keyframes appear {
  0% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
  } 100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.text {
  color: #FAFAFA;
  pointer-events: none; 
  user-select: none; 
  transition: .2s;
  animation: appear 1s forwards;    
}

#userinput {
  font-family: "OpenRunde", Helvetica;
  animation: appear 1s forwards;
  width: 70vw;
  height: 50vh;
  margin: 5px;
  background-color: transparent;
  color: #FAFAFA;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px;
  resize: none;
}

#chatsubmit {
  transition: .2s;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 3px;
  animation: appear 1s forwards;
  width: 72vw;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #FAFAFA;
}

#chatsubmit:active {
  scale: .9;
}